<h1>update giangvien</h1>
<form action="/update" method="POST"> 
    ID: <input type="text" name="id" value="<%= giangvien._id%>"><br>
    Name : <input type="text" name="Hoten" value="<%= giangvien.Hoten%>"><br>
    Diachi: <input type="text" name="DiaChi" value="<%= giangvien.DiaChi%>"><br>
    SDT : <input type="number" name="sdt" value="<%= giangvien.sdt%>"><br>
    MaGV : <input type="number" name="MaGV" value="<%= giangvien.MaGV%>"><br>
    <button type="submit">update</button>
</form>